@model gestaoclinica.Models.Tratamento

<h5>Edição de Tratamentos</h5>

<hr />

@using (Html.BeginForm("RealizarEdicao", "Tratamento"))
{
    if ((ViewData.ModelState.Any(x => x.Value.Errors.Any())) || (TempData["MsgErro"] != null))
    {
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert">×</a>
            <h6>Ops! Aconteceu algo de errado com a sua atualização...</h6>
            @Html.ValidationSummary()
            @TempData["MsgErro"]
        </div>
    }

    <div class="row">
        <div class="col-6">
            @Html.LabelFor(model => model.Descricao, "Descrição *")
            @Html.TextBoxFor(model => model.Descricao, new { @class = "form-control", required = "required", @Value = ViewBag.Tratamento.Descricao })
            @Html.HiddenFor(model => model.Codigo, new { @class = "form-control", required = "required", @Value = ViewBag.Tratamento.Codigo })
        </div>
        <div class="col-3">
            @Html.LabelFor(model => model.Descricao, "Status *") <br />

            @if (ViewBag.Tratamento.Status == "A")
            {
                <label>Ativo</label> @Html.RadioButtonFor(model => model.Status, value: "A", htmlAttributes: new { @checked = true })
            }
            else
            {
                <label>Ativo</label> @Html.RadioButtonFor(model => model.Status, value: "A")
            }

            @if (ViewBag.Tratamento.Status == "I")
            {
                <labe>Inativo</labe> @Html.RadioButtonFor(model => model.Status, value: "I", htmlAttributes: new { @checked = true })
            }
            else
            {
                <labe>Inativo</labe> @Html.RadioButtonFor(model => model.Status, value: "I")
            }
        </div>
    </div>

    <br />

    <input type="submit" class="btn btn-primary btn-sm" value="Atualizar" />
    
    <a class="btn btn-secondary text-white btn-sm" onclick="location.href='@Url.Action("Index", "Tratamento")'">Voltar</a>
}